/*catan content*/
#catan-page .main_content {
  position: relative;
  overflow: hidden !important;
}

#catan-page .main_content div[class*="catan-content-inner"] {
  display: grid;
  position: relative;
  z-index: 1;
}

#catan-page .main_content div[class*="catan-content-inner"]:before, #catan-page .main_content div[class*="catan-content-inner"]:after {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}

#catan-page .main_content div[class*="catan-content-inner"]:before {
  transform: rotate(60deg);
}

#catan-page .main_content div[class*="catan-content-inner"]:after {
  transform: rotate(-60deg);
}

#catan-page .main_content div[class*="catan-content-inner_"] {
  display: flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  margin: .3vw auto;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

#catan-page .main_content .catan-content-inner {
  margin: 10vw auto 20vw;
  height: 27.64608842vw;
  width: 48vw;
  transform: perspective(800px) rotateX(60deg) rotateZ(0deg);
  animation: 4s linear infinite rotation 6s, 10s linear infinite bg1;
}

#catan-page .main_content .catan-content-inner:before, #catan-page .main_content .catan-content-inner:after {
  animation: 10s linear infinite bg1;
}

#catan-page .main_content .catan-content-inner:last-child {
  top: 0;
  margin-top: -30%;
  margin-bottom: 20%;
  animation: 4s linear infinite rotation_bg 6s;
  position: relative;
  z-index: -1;
  background-color: #323232;
  box-shadow: 3vw 0 1.5vw 0px #323232, -3vw 0 1.5vw 0 #323232;
  transform: perspective(640px) rotateX(60deg) rotateZ(0deg) scale(0.8);
}

#catan-page .main_content .catan-content-inner:last-child:before, #catan-page .main_content .catan-content-inner:last-child:after {
  animation: none;
  background-color: #323232;
  box-shadow: 0 0 1.5vw 2.0vw #323232, 0 0 1.5vw 1.5vw #323232;
}

#catan-page .main_content .catan-content-inner_1 {
  height: 27.07012825vw;
  width: 47vw;
  animation: 10s linear infinite bg2;
}

#catan-page .main_content .catan-content-inner_1:before, #catan-page .main_content .catan-content-inner_1:after {
  animation: 10s linear infinite bg2;
}

#catan-page .main_content .catan-content-inner_2 {
  height: 26.49416807vw;
  width: 46vw;
  animation: 10s linear infinite bg3;
}

#catan-page .main_content .catan-content-inner_2:before, #catan-page .main_content .catan-content-inner_2:after {
  animation: 10s linear infinite bg3;
}

#catan-page .main_content .catan-content-inner_3 {
  height: 25.9182079vw;
  width: 45vw;
  animation: 10s linear infinite bg4;
}

#catan-page .main_content .catan-content-inner_3:before, #catan-page .main_content .catan-content-inner_3:after {
  animation: 10s linear infinite bg4;
}

#catan-page .main_content .catan-content-inner_4 {
  height: 25.34224772vw;
  width: 44vw;
  animation: 10s linear infinite bg5;
  position: relative;
}

#catan-page .main_content .catan-content-inner_4:before, #catan-page .main_content .catan-content-inner_4:after {
  animation: 10s linear infinite bg5;
}

#catan-page .main_content .catan-table div[class*="catan-content-inner-cel"], #catan-page .main_content .catan-back div[class*="catan-content-inner-cel"] {
  display: block;
  width: 20%;
  position: absolute;
}

#catan-page .main_content .catan-table div[class*="catan-content-inner-cel"]:nth-of-type(1), #catan-page .main_content .catan-back div[class*="catan-content-inner-cel"]:nth-of-type(1) {
  left: 10%;
  top: 5%;
}

#catan-page .main_content .catan-table div[class*="catan-content-inner-cel"]:nth-of-type(2), #catan-page .main_content .catan-back div[class*="catan-content-inner-cel"]:nth-of-type(2) {
  left: 25%;
  top: -10%;
}

#catan-page .main_content .catan-table div[class*="catan-content-inner-cel"]:nth-of-type(3), #catan-page .main_content .catan-back div[class*="catan-content-inner-cel"]:nth-of-type(3) {
  left: 40%;
  top: -25%;
}

#catan-page .main_content .catan-table div[class*="catan-content-inner-cel"]:nth-of-type(4), #catan-page .main_content .catan-back div[class*="catan-content-inner-cel"]:nth-of-type(4) {
  right: 25%;
  top: -10%;
}

#catan-page .main_content .catan-table div[class*="catan-content-inner-cel"]:nth-of-type(5), #catan-page .main_content .catan-back div[class*="catan-content-inner-cel"]:nth-of-type(5) {
  right: 10%;
  top: 5%;
}

#catan-page .main_content .catan-table div[class*="catan-content-inner-cel"] .hexagon, #catan-page .main_content .catan-back div[class*="catan-content-inner-cel"] .hexagon {
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}

#catan-page .main_content .catan-table div[class*="catan-content-inner-cel"] .hexagon span, #catan-page .main_content .catan-back div[class*="catan-content-inner-cel"] .hexagon span {
  animation: 1s linear position 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  opacity: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  background: white;
  width: 50%;
  border: .1vw solid white;
  border-radius: 50%;
  height: 50%;
  text-align: center;
  font-size: 1.2vw;
  line-height: 1.7vw;
  box-shadow: 0 -0.1vw 0 #fff, 0.1vw 0.1vw 0.1vw #c1c1c1, 0.2vw 0.2vw 0.1vw #BFBEBE, 0.3vw 0.3vw 0.1vw #bdbbbb, 0.4vw 0.2vw 3vw rgba(0, 0, 0, 0.6);
  text-shadow: 0 -0.1vw 0 #fff, 0.1vw 0.1vw 0.1vw #c1c1c1, 0.2vw 0.2vw 0.1vw #BFBEBE, 0.3vw 0.3vw 0.1vw #bdbbbb, 0.4vw 0.2vw 0.3vw rgba(0, 0, 0, 0.6);
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}

#catan-page .main_content .catan-table div[class*="catan-content-inner-cel"] .hexagon span.night, #catan-page .main_content .catan-back div[class*="catan-content-inner-cel"] .hexagon span.night {
  background: #333333;
  border: .1vw solid #333333;
  box-shadow: 0 -0.1vw 0 #222222, 0.1vw 0.1vw 0.1vw #1d1d1d, 0.2vw 0.2vw 0.1vw #111111, 0.3vw 0.3vw 0.1vw #0d0d0d, 0.4vw 0.2vw 3vw rgba(0, 0, 0, 0.6);
  text-shadow: 0 -0.1vw 0 #222222, 0.1vw 0.1vw 0.1vw #1d1d1d, 0.2vw 0.2vw 0.1vw #111111, 0.3vw 0.3vw 0.1vw #0d0d0d, 0.4vw 0.2vw 3vw rgba(0, 0, 0, 0.6);
}

#catan-page .main_content .catan-table div[class*="catan-content-inner-cel"] .hexagon span.red, #catan-page .main_content .catan-back div[class*="catan-content-inner-cel"] .hexagon span.red {
  color: #a71414;
}

#catan-page .main_content .catan-table div[class*="catan-content-inner-cel"] .hexagon:before, #catan-page .main_content .catan-back div[class*="catan-content-inner-cel"] .hexagon:before {
  display: block;
  padding-top: 86.602540378%;
  content: '';
}

#catan-page .main_content .catan-table div[class*="catan-content-inner-cel"] .hexagon .hexagon__inner-1, #catan-page .main_content .catan-back div[class*="catan-content-inner-cel"] .hexagon .hexagon__inner-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: rotate(60deg);
}

#catan-page .main_content .catan-table div[class*="catan-content-inner-cel"] .hexagon .hexagon__inner-1 .hexagon__inner-2, #catan-page .main_content .catan-back div[class*="catan-content-inner-cel"] .hexagon .hexagon__inner-1 .hexagon__inner-2 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: rotate(60deg);
}

#catan-page .main_content .catan-table div[class*="catan-content-inner-cel"] .hexagon .hexagon__inner-1 .hexagon__inner-2 .hexagon__inner-3, #catan-page .main_content .catan-back div[class*="catan-content-inner-cel"] .hexagon .hexagon__inner-1 .hexagon__inner-2 .hexagon__inner-3 {
  width: 100%;
  height: 100%;
  transform: rotate(-120deg);
}

#catan-page .main_content .catan-table div[class*="catan-content-inner-cel"] .hexagon .hexagon__inner-1 .hexagon__inner-2 .hexagon__inner-3 .hexagon__inner-image, #catan-page .main_content .catan-back div[class*="catan-content-inner-cel"] .hexagon .hexagon__inner-1 .hexagon__inner-2 .hexagon__inner-3 .hexagon__inner-image {
  opacity: 0;
  animation: 1s linear position 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  width: 100%;
  height: 100%;
}

#catan-page .main_content .catan-table div[class*="catan-content-inner-cel"] .hexagon .hexagon__inner-1 .hexagon__inner-2 .hexagon__inner-3 .hexagon__inner-image.sheep, #catan-page .main_content .catan-back div[class*="catan-content-inner-cel"] .hexagon .hexagon__inner-1 .hexagon__inner-2 .hexagon__inner-3 .hexagon__inner-image.sheep {
  background: url("http://nu-blogsite.net/content/catan/sheep.png") center/cover no-repeat;
}

#catan-page .main_content .catan-table div[class*="catan-content-inner-cel"] .hexagon .hexagon__inner-1 .hexagon__inner-2 .hexagon__inner-3 .hexagon__inner-image.soil, #catan-page .main_content .catan-back div[class*="catan-content-inner-cel"] .hexagon .hexagon__inner-1 .hexagon__inner-2 .hexagon__inner-3 .hexagon__inner-image.soil {
  background: url("http://nu-blogsite.net/content/catan/soil.png") center/cover no-repeat;
}

#catan-page .main_content .catan-table div[class*="catan-content-inner-cel"] .hexagon .hexagon__inner-1 .hexagon__inner-2 .hexagon__inner-3 .hexagon__inner-image.steel, #catan-page .main_content .catan-back div[class*="catan-content-inner-cel"] .hexagon .hexagon__inner-1 .hexagon__inner-2 .hexagon__inner-3 .hexagon__inner-image.steel {
  background: url("http://nu-blogsite.net/content/catan/steel.png") center/cover no-repeat;
}

#catan-page .main_content .catan-table div[class*="catan-content-inner-cel"] .hexagon .hexagon__inner-1 .hexagon__inner-2 .hexagon__inner-3 .hexagon__inner-image.sult, #catan-page .main_content .catan-back div[class*="catan-content-inner-cel"] .hexagon .hexagon__inner-1 .hexagon__inner-2 .hexagon__inner-3 .hexagon__inner-image.sult {
  background: url("http://nu-blogsite.net/content/catan/sult.png") center/cover no-repeat;
}

#catan-page .main_content .catan-table div[class*="catan-content-inner-cel"] .hexagon .hexagon__inner-1 .hexagon__inner-2 .hexagon__inner-3 .hexagon__inner-image.wheat, #catan-page .main_content .catan-back div[class*="catan-content-inner-cel"] .hexagon .hexagon__inner-1 .hexagon__inner-2 .hexagon__inner-3 .hexagon__inner-image.wheat {
  background: url("http://nu-blogsite.net/content/catan/wheat.png") center/cover no-repeat;
}

#catan-page .main_content .catan-table div[class*="catan-content-inner-cel"] .hexagon .hexagon__inner-1 .hexagon__inner-2 .hexagon__inner-3 .hexagon__inner-image.wood, #catan-page .main_content .catan-back div[class*="catan-content-inner-cel"] .hexagon .hexagon__inner-1 .hexagon__inner-2 .hexagon__inner-3 .hexagon__inner-image.wood {
  background: url("http://nu-blogsite.net/content/catan/wood.png") center/cover no-repeat;
}

#catan-page .main_content .catan-table {
  z-index: 2;
  animation: 1s linear position;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

#catan-page .main_content .catan-back div[class*="catan-content-inner-cel"] {
  opacity: 0;
  animation: 1s linear position 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

#catan-page .main_content .catan-back div[class*="catan-content-inner-cel"] .hexagon {
  overflow: visible;
  margin: 0 auto;
  width: 50%;
  height: 100%;
  display: block;
  position: relative;
  background: black;
  transition: all 0.2s linear;
  padding: 86.6% 0 0;
  box-shadow: 0.1vw 0.1vw 0.1vw #2e2e2e, 0.2vw 0.2vw 0.1vw #1e1e1e, 0.3vw 0.3vw 0.1vw #0e0e0e, -0.1vw 0.4vw 0.1vw rgba(0, 0, 0, 0.6);
}

#catan-page .main_content .catan-back div[class*="catan-content-inner-cel"] .hexagon:before, #catan-page .main_content .catan-back div[class*="catan-content-inner-cel"] .hexagon:after {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: black;
  transition: all 0.2s linear;
  z-index: 0;
  padding: 0;
}

#catan-page .main_content .catan-back div[class*="catan-content-inner-cel"] .hexagon:before {
  transform: rotate(60deg);
}

#catan-page .main_content .catan-back div[class*="catan-content-inner-cel"] .hexagon:after {
  transform: rotate(-60deg);
  box-shadow: 0.1vw 0.1vw 0.1vw #2e2e2e, 0.2vw 0.2vw 0.1vw #1e1e1e, 0.3vw 0.3vw 0.1vw #0e0e0e, -0.1vw 0.4vw 0.1vw rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 979px) {
  #catan-page .main_content {
    transform: scale(1.25);
    -webkit-transform: scale(1.25);
  }
  #catan-page .main_content .catan-content-inner:last-child {
    top: 0;
    margin-top: -30%;
    margin-bottom: 20%;
  }
  #catan-page .main_content .catan-content-inner div[class*="catan-content-inner-cel"] .hexagon span {
    border: .1vw solid white;
    text-align: center;
    font-size: 0.4vw;
  }
}

@keyframes bg1 {
  0% {
    background: #407bff;
  }
  50% {
    background: #004eff;
  }
  100% {
    background: #407bff;
  }
}

@keyframes bg2 {
  0% {
    background: #3573ff;
  }
  50% {
    background: #0d57ef;
  }
  100% {
    background: #3573ff;
  }
}

@keyframes bg3 {
  0% {
    background: #1f64ff;
  }
  50% {
    background: #1f64ff;
  }
  100% {
    background: #1f64ff;
  }
}

@keyframes bg4 {
  0% {
    background: #0d57ef;
  }
  50% {
    background: #3573ff;
  }
  100% {
    background: #0d57ef;
  }
}

@keyframes bg5 {
  0% {
    background: #004eff;
  }
  50% {
    background: #407bff;
  }
  100% {
    background: #004eff;
  }
}

@keyframes bg6 {
  0% {
    background: #323232;
  }
  50% {
    background: #323232;
  }
  100% {
    background: #323232;
  }
}

@keyframes position {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: perspective(640px) rotateX(60deg) rotateZ(0deg) scale(1);
  }
  50% {
    -webkit-transform: perspective(640px) rotateX(60deg) rotateZ(180deg) scale(1);
  }
  100% {
    -webkit-transform: perspective(640px) rotateX(60deg) rotateZ(360deg) scale(1);
  }
}

@keyframes rotation_bg {
  0% {
    -webkit-transform: perspective(640px) rotateX(60deg) rotateZ(0deg) scale(1);
  }
  50% {
    -webkit-transform: perspective(640px) rotateX(60deg) rotateZ(180deg) scale(1);
  }
  100% {
    -webkit-transform: perspective(640px) rotateX(60deg) rotateZ(360deg) scale(1);
  }
}
