<!DOCTYPE html>
html
    head
        meta(http-equiv='content-type',content='text/html charset=utf-8')
        meta(description='カタン pug/scss animationページです')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
        title カタン pug/scss animation 
        link(href='css/catan.css', type='text/css', rel='stylesheet')
    body
        #catan-page.container
            main
                #main_content.container
                    .main_content
                        .catan-content-inner
                            .catan-content-inner_1
                                .catan-content-inner_2
                                    .catan-content-inner_3
                                        .catan-content-inner_4
                                            .catan-table
                                                .catan-content-inner-cel
                                                    .hexagon.no20
                                                        span.night
                                                        .hexagon__inner-1
                                                            .hexagon__inner-2
                                                                .hexagon__inner-3
                                                                    .hexagon__inner-image.sult
                                                    .hexagon.no9
                                                        span 5
                                                        .hexagon__inner-1
                                                            .hexagon__inner-2
                                                                .hexagon__inner-3
                                                                    .hexagon__inner-image.sheep
                                                    .hexagon.no14
                                                        span 2
                                                        .hexagon__inner-1
                                                            .hexagon__inner-2
                                                                .hexagon__inner-3
                                                                    .hexagon__inner-image.wood
                                                .catan-content-inner-cel
                                                    .hexagon.no18
                                                        span.red 8
                                                        .hexagon__inner-1
                                                            .hexagon__inner-2
                                                                .hexagon__inner-3
                                                                    .hexagon__inner-image.steel
                                                    .hexagon.no4
                                                        span 10
                                                        .hexagon__inner-1
                                                            .hexagon__inner-2
                                                                .hexagon__inner-3
                                                                    .hexagon__inner-image.wheat
                                                    .hexagon.no15
                                                        span 9.
                                                        .hexagon__inner-1
                                                            .hexagon__inner-2
                                                                .hexagon__inner-3
                                                                    .hexagon__inner-image.wood
                                                    .hexagon.no7
                                                        span.red 6.
                                                        .hexagon__inner-1
                                                            .hexagon__inner-2
                                                                .hexagon__inner-3
                                                                    .hexagon__inner-image.soil
                                                .catan-content-inner-cel
                                                    .hexagon.no2
                                                        span 4
                                                        .hexagon__inner-1
                                                            .hexagon__inner-2
                                                                .hexagon__inner-3
                                                                    .hexagon__inner-image.wheat
                                                    .hexagon.no8
                                                        span 3
                                                        .hexagon__inner-1
                                                            .hexagon__inner-2
                                                                .hexagon__inner-3
                                                                    .hexagon__inner-image.sheep
                                                    .hexagon.no6
                                                        span 11
                                                        .hexagon__inner-1
                                                            .hexagon__inner-2
                                                                .hexagon__inner-3
                                                                    .hexagon__inner-image.soil
                                                    .hexagon.no10
                                                        span 4
                                                        .hexagon__inner-1
                                                            .hexagon__inner-2
                                                                .hexagon__inner-3
                                                                    .hexagon__inner-image.sheep
                                                    .hexagon.no19
                                                        span 3
                                                        .hexagon__inner-1
                                                            .hexagon__inner-2
                                                                .hexagon__inner-3
                                                                    .hexagon__inner-image.steel
                                                .catan-content-inner-cel
                                                    .hexagon.no3
                                                        span 11
                                                        .hexagon__inner-1
                                                            .hexagon__inner-2
                                                                .hexagon__inner-3
                                                                    .hexagon__inner-image.wheat
                                                    .hexagon.no12
                                                        span.red 6.
                                                        .hexagon__inner-1
                                                            .hexagon__inner-2
                                                                .hexagon__inner-3
                                                                    .hexagon__inner-image.wood
                                                    .hexagon.no1
                                                        span 5
                                                        .hexagon__inner-1
                                                            .hexagon__inner-2
                                                                .hexagon__inner-3
                                                                    .hexagon__inner-image.wheat
                                                    .hexagon.no16
                                                        span.red 8
                                                        .hexagon__inner-1
                                                            .hexagon__inner-2
                                                                .hexagon__inner-3
                                                                    .hexagon__inner-image.steel
                                                .catan-content-inner-cel
                                                    .hexagon.no5
                                                        span 11
                                                        .hexagon__inner-1
                                                            .hexagon__inner-2
                                                                .hexagon__inner-3
                                                                    .hexagon__inner-image.soil
                                                    .hexagon.no11
                                                        span 9.
                                                        .hexagon__inner-1
                                                            .hexagon__inner-2
                                                                .hexagon__inner-3
                                                                    .hexagon__inner-image.sheep
                                                    .hexagon.no13
                                                        span 10
                                                        .hexagon__inner-1
                                                            .hexagon__inner-2
                                                                .hexagon__inner-3
                                                                    .hexagon__inner-image.wood
                                            .catan-back
                                                .catan-content-inner-cel
                                                    .hexagon
                                                    .hexagon
                                                    .hexagon
                                                .catan-content-inner-cel
                                                    .hexagon
                                                    .hexagon
                                                    .hexagon
                                                    .hexagon
                                                .catan-content-inner-cel
                                                    .hexagon
                                                    .hexagon
                                                    .hexagon
                                                    .hexagon
                                                    .hexagon
                                                .catan-content-inner-cel
                                                    .hexagon
                                                    .hexagon
                                                    .hexagon
                                                    .hexagon
                                                .catan-content-inner-cel
                                                    .hexagon
                                                    .hexagon
                                                    .hexagon
                        .catan-content-inner